@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #e3279a;
  --color-success: #52e9af;
  --color-info: #8952e9;
  --color-danger: #e95252;

  --font-suse: 'SUSE', sans-serif;

  --animate-in: in 0.2s linear;

  @keyframes in {
    0% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-success {
  @apply bg-success text-black;
}

.btn-info {
  @apply bg-info text-white;
}

.btn-danger {
  @apply bg-danger text-white;
}
