@import "tailwindcss";
@import "./styles/buttons.css";
@import "./styles/badges.css";
@import "./styles/tasks.css";
@import "./styles/scrollbar.css";
@import "./styles/progressbar.css";
@import "./styles/react-hot-toast.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #e3279a;
  --color-success: #52e9af;
  --color-info: #8952e9;
  --color-danger: #e95252;
  --color-warning: #ffff1a;

  --font-suse: 'SUSE', sans-serif;

  --animate-in: in 0.5s linear;
  --animate-slide-in-from-bottom: slide-in-from-bottom 0.2s linear;

  @keyframes in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in-from-bottom {
    0% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0);
    }
  }
}